<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>HR Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/api/employeeAuth/password-set}" th:object="${data}" method="post">
    <p>Email <input type="text" th:field="*{email}"/></p>
    <p>Password <input type="password" th:field="*{password}"/></p>
    <p>Confirm Password <input type="password" th:field="*{confirmPassword}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>